
$grid-item-height: 250px;

.documents-grid-view {
  .document {
    border-bottom: none;
    height: $grid-item-height;
  }

  .thumbnail {
    height: $grid-item-height;
    overflow: hidden;
    img {
      height: 168px;
      // (250 - 13*2) * (3/4)
      // -- Grid cells are square, so width == height.
      // -- 13 is the padding+margin on each side, coming from a couple different rules.
    }
  }
}

input[type=checkbox].css-checkbox {
  position:absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height:1px;
  width:1px;
  margin:-1px;
  padding:0;
  border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
  padding-left:22px;
  height:17px;
  display:inline-block;
  line-height:17px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:17px;
  vertical-align:middle;
  cursor:pointer;
  color: #fff;
}

input[type=checkbox].css-checkbox.checked + label.css-label {
  background-position: 0 -17px;
  color: #fff;
}

label.css-label {
background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_314a66eb1641f8832a7ada19bbf96697.png);
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}



.access-input {
  background-color: #292A72;
  padding: 1em 0;
  h1 {
    color: #fff;
    font-size: 2em;
    font-weight: 100;
    padding: 0 1em;
  }
}

.access-info {
  margin: 5% 5% 0 0;
  p {
    color: #fff;
    font-size: 10px;
  }
  a {
    color: #fff;
    text-decoration: underline;
  }
}

.search-header {
  background-color: #292A72;
  margin-bottom: 1em;
}

.access-facet-values {
  margin: 0;
  padding: 5px;
  li {
    display: inline;
    list-style-type: none;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .search-header {
    text-align: center;
  }
  input[type=checkbox].css-checkbox + label.css-label {
    font-size: 14px;
    line-height: 14px;
    height: 16px;
  }
}
