<div class="search-header row">
  <div class="col-md-3 access-input">
    <h1>Search Results</h1>
  </div>
  <div class="col-md-3 access-input">
    <input type="checkbox" name="checkboxG1" id="checkboxG1" class="css-checkbox" />
    <label for="checkboxG1" class="css-label">All Digitized</label>
    <div class="access-info">
      <p>The default: All video and audio that can be viewed or listened to in the Online Reading Room.</p>
    </div>
  </div>
  <div class="col-md-3 access-input">
    <input type="checkbox" name="checkboxG2" id="checkboxG2" class="css-checkbox" />
    <label for="checkboxG2" class="css-label">Available Online</label>
    <div class="access-info">
      <p>All video and audio, available either online, or on location at WGBH or the Library of Congress. More information.</p>
    </div>
  </div>
  <div class="col-md-3 access-input">
    <input type="checkbox" name="checkboxG3" id="checkboxG3" class="css-checkbox" />
    <label for="checkboxG3" class="css-label">All Records</label>
    <div class="access-info">
      <p>All 2.5 million records, including digitized content (online and on-site only), and content that has not been digitized.</p>
    </div>
  </div>
</div>

<div id="sidebar" class="col-md-3 col-sm-4">
  <%= render 'search_sidebar' %>
</div>

<div id="content" class="col-md-9 col-sm-8">
  <% unless has_search_parameters? %>
    <%# if there are no input/search related params, display the "home" partial -%>
    <%= render 'home' %>
  <% else %>
    <%= render 'search_results' %>
  <% end %>
</div>
